body {
  height: 100vh;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #008080;
}

body,
select,
button {
  font-size: 1rem;
  font-family: monospace;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000080;
  padding: 4px 4px 4px 10px;
  border-top: 2px solid white;
  border-right: 2px solid #555;
  border-left: 2px solid white;
  color: white;
}

#toolbar button {
  padding: 0 7px;
  width: 27px;
  height: 27px;
}

#controls {
  max-width: 375px;
  background-color: #c3c3c3;
  border-top: 2px solid #c3c3c3;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid #c3c3c3;
}

#inner-wrapper {
  padding: 20px;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  border-left: 2px solid white;
}

body:has(optgroup[label='Patterns'] option:checked) {
  image-rendering: pixelated;
}

#buttons {
  display: flex;
  gap: 12px;
  margin: 10px 0;
}

button {
  color: black;
  border-top: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid white;
  border-radius: 1px;
  padding: 5px 10px;
  background-color: #c3c3c3;
  cursor: pointer;
}

#buttons button {
  flex: 1;
}

button:hover {
  background-color: #ccc;
}

button:active {
  border: 1px solid black;
}

button > img,
button > span {
  vertical-align: middle;
}

select {
  width: 100%;
  border-radius: 0;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid black;
}

option:checked,
option:hover {
  background-color: #000080;
  color: white;
}
