<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows Tiled Backgrounds</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="backgrounds.css">
    <script>
      function track(direction) {
        const select = document.getElementById('backgroundSelect');
        const total = select.options.length;
        let newIndex;
        if (direction === 'prev') {
          newIndex = --select.selectedIndex < 0 ? total - 1 : select.selectedIndex;
        } else {
          newIndex = ++select.selectedIndex === total ? 0 : select.selectedIndex;
        }
        select.selectedIndex = newIndex;
      }
    </script>
  </head>
  <body>
    <div id="controls">
      <div id="toolbar">Windows Wallpaper Tiles</div>
      <div id="inner-wrapper">
        <fieldset>
          <legend>Wallpaper</legend>
          <select id="backgroundSelect" size="5">
            <option value="none" selected>(None)</option>
            {{#each files }}
              <optgroup label="{{name}}">
                {{#each contents }}
                  <option value="{{value}}">{{name }}</option>
                {{/each}}
              </optgroup>
            {{/each}}
          </select>
          <div id="buttons">
            <button onclick="track('prev')">Previous</button>
            <button onclick="track('next')">Next</button>
          </div>
        </fieldset>
      </div>
    </div>
  </body>
</html>
